<% include ../partials/newAdminHeader %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <form class="card needs-validation" novalidate action="/admin/item/edit?_method=PUT" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="itemID" value="<%= item._id %>">

        <div class="card-body">
          <h3 class="card-title">Item Edit Form</h3>
          <div class="row">
            <div class="col-md-12 order-md-1">

              <!-- Item Title and Classification -->
              <!-- Item Title -->
              <!-- Asks for a title for the item or a piece -->
              <div class="mb-3">
              <%# Since this route is also the upload route for the images csrf token have been disabled %>
                <!-- csrf token here -->
                <label for="itemName">Item Name</label>
                <input type="text" class="form-control" id="itemName" placeholder="Item Name" value="<%= item.name %>"
                  name="item[name]" required>
                <div class="invalid-feedback">
                  Please enter an item Name
                </div>

              </div>
              <div class="mb-3">
              <%# Since this route is also the upload route for the images csrf token have been disabled %>
                <!-- csrf token here -->
                <label for="itemImage">Item Image</label>
                <input type="file" class="form-control" id="itemImage" name="images" disabled multiple>

              </div>
              <div class="row">

                <!-- Item Category -->
                <!-- Provides the category of the item -->
                <div class="col-md-8 mb-3 form-group">
                  <label for="category">Category </label> <small><em>Please select a category of the item to enter
                      additonal details</em></small>
                  <div class="selectgroup w-100">
                    <label class="selectgroup-item" for="drawingCategory">
                      <input type="radio" id="drawingCategory" name="item[category]" value="Drawing"
                        class="selectgroup-input" onclick="handleClick(this);" required 
                        <% if(item.category == "Drawing"){ %>
                            checked
                        <% } %>
                        >
                      <span class="selectgroup-button">Drawing</span>
                    </label>

                    <label class="selectgroup-item" for="paintingCategory">
                      <input type="radio" id="paintingCategory" name="item[category]" value="Painting"
                        class="selectgroup-input" onclick="handleClick(this);" required 
                        <% if(item.category == "Painting"){ %>
                            checked
                        <% } %>
                        >
                      <span class="selectgroup-button">Painting</span>
                    </label>

                    <label class="selectgroup-item" for="photoCategory">
                      <input type="radio" id="photoCategory" name="item[category]" value="Photo"
                        class="selectgroup-input" onclick="handleClick(this);" required 
                        <% if(item.category == "Photo"){ %>
                            checked
                        <% } %>
                        >
                      <span class="selectgroup-button">Photographic Images</span>
                    </label>

                    <label class="selectgroup-item" for="sculpturesCategory">
                      <input type="radio" id="sculpturesCategory" name="item[category]" value="Sculptures"
                        class="selectgroup-input" onclick="handleClick(this);" required 
                        <% if(item.category == "Sculptures"){ %>
                            checked
                        <% } %>
                        >
                      <span class="selectgroup-button">Sculptures</span>
                    </label>

                    <label class="selectgroup-item" for="carvingsCategory">
                      <input type="radio" id="carvingsCategory" name="item[category]" value="Carvings"
                        class="selectgroup-input" onclick="handleClick(this);" required 
                        <% if(item.category == "Carvings"){ %>
                            checked
                        <% } %>
                        >
                      <span class="selectgroup-button">Carvings</span>
                    </label>



                  </div>

                  <div class="invalid-feedback">
                    Please select a valid category
                  </div>




                </div>

                <!-- TODO: Create a way to create additional classification -->

                <!-- Item Classfication -->
                <!-- Asks for a general subject classification of the item -->
                <!-- eg. Landscape, Nude, Animal -->
                <div class="col-md-4 mb-3">

                  <label for="classification">Classification</label>
                  <select class="custom-select d-block w-100" id="classification" name="item[classification]" required>
                    <option value="" 
                        <% if(item.classification == ""){ %>
                            selected
                        <% } %>
                    >Choose...</option>
                    <option
                        <% if(item.classification == "Landscape"){ %>
                            selected
                        <% } %>
                    >Landscape</option>
                    <option
                        <% if(item.classification == "Seascape"){ %>
                            selected
                        <% } %>
                    >Seascape</option>
                    <option
                        <% if(item.classification == "Portrait"){ %>
                            selected
                        <% } %>
                    >Portrait</option>
                    <option
                        <% if(item.classification == "Figure"){ %>
                            selected
                        <% } %>
                    >Figure</option>
                    <option
                        <% if(item.classification == "Still"){ %>
                            selected
                        <% } %>
                    >Still</option>
                    <option
                        <% if(item.classification == "Life"){ %>
                            selected
                        <% } %>
                    >Life</option>
                    <option
                        <% if(item.classification == "Nude"){ %>
                            selected
                        <% } %>
                    >Nude</option>
                    <option
                        <% if(item.classification == "Animal"){ %>
                            selected
                        <% } %>
                    >Animal</option>
                    <option
                        <% if(item.classification == "Abstract"){ %>
                            selected
                        <% } %>
                    >Abstract</option>
                    <option
                        <% if(item.classification == "Other"){ %>
                            selected
                        <% } %>
                    >Other</option>
                  </select>

                  <div class="invalid-feedback">
                    Please select a valid classification
                  </div>

                </div>
              </div>

              <!-- Artist/ Creator's Name -->
              <!-- Provides the name of the creator of the item -->
              <div class="mb-3">
                <label for="artistName">Artist/Creator's Name</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="artistName" placeholder="Artist/Creator's Name"
                    name="item[authorship]" value="<%= item.authorship %>" required>
                  <div class="invalid-feedback">
                    Artist/Creator's Name is required
                  </div>
                </div>
              </div>

              <!-- TODO: Make this accept only 4 characters for year, or make it a date input -->
              <!-- Year the item created in -->
              <!-- Provides the year in which the item was created -->
              <div class="mb-3">
                <label for="yearProduced">Year Produced</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="yearProduced" placeholder="Year Created"
                    name="item[yearProduced]" value="<%= item.yearProduced %>" required>
                  <div class="invalid-feedback">
                    Item's year of creation is required
                  </div>
                </div>
              </div>


              <!-- TODO: Make this textarea input accept WYSIWYG inputs. Should accept html/md input-->
              <!-- Item Description -->
              <!-- Provides detailed information about the item -->
              <div class="mb-3">
                <label for="itemDesc">Item Description</label>
                <div class="input-group">
                  <textarea class="form-control" id="itemDesc" rows="5" placeholder="Item Description"
                    name="item[description]" required><%= item.description %></textarea>

                  <div class="invalid-feedback">
                    Please provide the detailed description for the item
                  </div>
                </div>
              </div>

              <hr class="mb-4">

              <!-- Category Specific Information -->
              <h4 class="mb-3">Category Information</h4>
              <small id="categoryNotSelectedMessage">Category not selected</small>
              <!-- TODO: Change drawing and painting medium to select input type  -->
              <!-- Drawing Medium -->
              <div class="mb-3" id="drawingMediumDiv">
                <label for="drawingMedium">Drawing Medium</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="drawingMedium" placeholder="Drawing Medium"
                    name="item[drawingMedium]" value="<%= item.categoryInfo.drawingMedium %>" required>
                  <div class="invalid-feedback">
                    Item's method of drawing is required
                  </div>
                </div>
              </div>

              <!-- Painting Medium -->
              <div class="mb-3" id="paintingMediumDiv">
                <label for="paintingMedium">Painting Medium</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="paintingMedium" placeholder="Painting Medium"
                    name="item[paintingMedium]" value="<%= item.categoryInfo.paintingMedium %>" required>
                  <div class="invalid-feedback">
                    Item's method of painting is required
                  </div>
                </div>
              </div>

              <!-- Image type -->
              <div class="mb-3" id="imageTypeDiv">
                <label for="imageType">Image Type</label>
                <div class="input-group">
                  <select class="custom-select d-block w-100" id="imageType" name="item[imageType]" value="<%= item.categoryInfo.imageType %>" required>
                     <option value=""
                          <% if(item.categoryInfo.imageType == ""){ %>
                              selected
                          <% } %>
                      >Choose...</option>
                      <option
                          <% if(item.categoryInfo.imageType == "Black and White"){ %>
                              selected
                          <% } %>
                      >Black and White</option>
                      <option
                          <% if(item.categoryInfo.imageType == "Color"){ %>
                              selected
                          <% } %>
                      >Color</option>
                      <option
                          <% if(item.categoryInfo.imageType == "Other"){ %>
                              selected
                          <% } %>
                      >Other</option>
                  </select>
                  <div class="invalid-feedback">
                    Item's image type is required
                  </div>
                </div>
              </div>

              <!-- Material Used -->
              <div class="mb-3" id="materialUsedDiv">
                <label for="materialUsed">Material Used</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="materialUsed" placeholder="Material Used"
                    name="item[materialUsed]" value="<%= item.categoryInfo.materialUsed %>" required>
                  <div class="invalid-feedback">
                    Item's materials used is required
                  </div>
                </div>
              </div>                

              <div class="row">
                <!-- Dimensions -->
                <div class="col-md-8 mb-3" id="dimensionDiv">
                  <label for="dimension">Item Dimension</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="dimension"
                      placeholder="Height x Length x Width (in cms)" name="item[dimension]" value="<%= item.categoryInfo.dimension %>" required>

                    <div class="invalid-feedback">
                      Item's dimensions are required
                    </div>
                  </div>
                  <small class="text-muted">Enter the dimension with the format: Height x
                    Length x
                    Width. Do not specify the measurement unit. eg: cm</small>
                </div>

                <!-- Item Weight -->
                <div class="col-md-4 mb-3" id="weightDiv">
                  <label for="weight">Item Weight</label>
                  <input type="text" class="form-control" id="weight" placeholder="Weight (in kgs)" name="item[weight]" value="<%= item.categoryInfo.weight %>"
                    required>
                  <small class="text-muted">Item weight in kilograms. Do not specify the
                    measurement unit.
                    eg: kgs/lbs</small>

                  <div class="invalid-feedback">
                    Item's dimensions are required
                  </div>
                </div>
              </div>


              <!-- is Framed -->
              <div class="mb-3" id="isFramedDiv">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="isFramed" name="item[isFramed]" value="1"
                  <% if(item.categoryInfo.isFramed) { %>
                    checked 
                  <% }%>
                  >
                  <span class="custom-control-label">Item is Framed</span>
                </label>
              </div>

              <!-- Auction Details -->
              <hr class="mb-4">
              <h4 class="mb-3">Pricing Information</h4>
              <div class="row">


                <!-- Item Reserve Price -->
                <div class="col-md-4 mb-3" id="reservePriceDiv">
                  <label for="reservePrice">Item Reserve Price</label>
                  <input type="text" class="form-control" id="reservePrice" value="<%= item.reservePrice %>"
                    name="item[reservePrice]" required>
                  <small></small>
                  <div class="invalid-feedback">
                    Item's reserve price are required
                  </div>
                </div>

                <!-- Estimated Price of the item -->
                <div class="col-md-8 mb-3">

                  <label for="estimatedPrice">
                    <h5 class="mb-3">Estimated Price</h5>
                  </label>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="minEstimatedPrice">Minimum Price</label>
                      <input type="text" class="form-control" id="minEstimatedPrice" value="<%= item.estimatedPrice.min %>"
                        name="item[minEstimatedPrice]" required>
                      <small class="text-muted">Minimum estimated price of the item</small>
                      <div class="invalid-feedback">
                        Please input the minimum estimated price of the item
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="maxEstimatedPrice">Maximum Price</label>
                      <input type="text" class="form-control" id="maxEstimatedPrice" value="<%= item.estimatedPrice.max %>"
                        name="item[maxEstimatedPrice]" required>
                      <small class="text-muted">Maximum estimated price of the item</small>
                      <div class="invalid-feedback">
                        Please input the maximum estimated price of the item
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mb-4">

              <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
<!-- Category selection form input scripts -->
<script src="/js/item-category-selection.js"></script>

<!-- TODO: Enable the form validation script after the tests are complete -->
<script src="/js/form-validation.js"></script>
<% include ../partials/newAdminFooter %>