<% include ../partials/newAdminHeader %>

<div class="container">
  <div class="card">
      <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap">
          <thead>
          <tr>
              <th>Auction Name</th>
              <th>Item Name</th>
              <th>Bidder Name</th>
              <th>Opening Amt</th>
              <th>Maximum Amt</th>
              <th>Bidded on</th>
              <!-- <th></th> -->
              <!-- <th></th> -->
          </tr>
          </thead>
          <tbody>
            <% if(bids){ %>
              <% bids.forEach((bid) => { %>
              
              <tr>
                  <td><a href="/admin/auction/<%= bid.auction._id %>"><%= bid.auction.name %></a></td>
                  <td><a href="/admin/item/<%= bid.item._id %>"><%= bid.item.name %></a></td>
                  <td><a href="/admin/user/<%= bid.bidder._id %>"><%= bid.bidder.profile.fname + ' '+ bid.bidder.profile.lname %></a></td>
                  <td><%= bid.opening_amount %></td>
                  <td><%= bid.maximum_amount %></td>
                  <td><%= new Date(bid.createdAt).toDateString(); %></td>
  
                  <!-- <td class="text-right">
                      <a href="/admin/item/<%= bid._id %>/edit" class="btn btn-secondary btn-sm">Edit</a>
          
                      <div class="item-action dropdown">
                          <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Actions</button>
                          <div class="dropdown-menu dropdown-menu-right">
                                  <a href="/admin/item/<%= bid.item %>/edit" class="dropdown-item"><i class="dropdown-icon fe fe-edit"></i> Edit </a>
                                  <a href="/admin/item/<%= bid.item %>" class="dropdown-item"><i class="dropdown-icon fe fe-info"></i> View </a>
                          </div>
                          
                      </div>
                  </td> -->
                  <td>
                      <a class="icon" href="javascript:void(0)">
                          
                          <!-- <form class="icon" action="/admin/item/<%= bid._id %>?_method=DELETE" id="table-form-delete" method="POST">
                                  <input type="hidden" name="_csrf" value=<%=_csrf %> />
                                  <button class="btn btn-danger btn-sm"><i class="fe fe-trash"></i></button>
                          </form> -->
                      </a>
                  </td>
              </tr>
              <% }); %>
            <% } %> 

          </tbody>
          
          </table>
          <% if(bids.length == 0){ %>
          <div class="text-center">
          <p class="h5 p-lg-6">No item matched that query. Please try again</p>
          </div>
          <% } %>
      </div>
  </div>

</div>


<% include ../partials/newAdminFooter %>